.four {
    padding: 11rem;
    grid-row: 4 / 5;
    grid-column: 1 / 11;
    color: #262626;
    background-color: #f9f9f9;
    font-family: "Montserrat", sans-serif;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 15% repeat(2, 1fr);

    &-divi {
        grid-row: 1 / 2;
        grid-column: 2 / -1;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }

    &-div-1 {
        grid-row: 1 / 2;
        grid-column: 1 / 5;
    }

    &-div-2 {
        grid-row: 1 / 2;
        grid-column: 6 / 10;
    }

    &-div {
        grid-row: 2 / -1;
        grid-column: 2 / -1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    
    &-div-3 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
       
    }
    
    &-div-4 {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }
    
    &-div-5 {
        grid-row: 1 / 2;
        grid-column: 4 / 5;
    }
    
    &-div-6 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    
    &-div-7 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    
    &-div-8 {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }

    &-di {
        background-color: $color-1;
        padding: 1rem;
     
    }

    &-p {
        font-size: 1rem;
        color: rgba($color: $color-2, $alpha: 0.5);
        width: 100%;
        font-weight: 600;
        line-height: 1.4rem;
    }

    &-h3 {
        font-size: 3rem;
        font-family: "Cormorant", serif;
        width: 60%;
        line-height: 3rem;
        font-weight: 500;
    }
    &-img {
        width: 100%;
    }

    &-pp {
        font-size: 0.9rem;
        color: rgba($color: $color-light, $alpha: 0.5);
    }

    &-h4 {
        line-height: 5rem;
        color: $color-light;
    }

    &-a {
        color: $color-3;
        text-align: start;
        text-decoration: underline;
        line-height: 3rem;
        font-size: 1rem;
    }

   
}
