.one {
    grid-row: 1 / 2;
    grid-column: 1 / 11;
    color: #f9f9f9;
    background-image: linear-gradient(rgba(38, 38, 38, 0.9), rgba(38, 38, 38, 0.9)), url(../img/law-library1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $font-2;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 15% min-content 25%;
    align-items: center;



    &-1 {
        grid-row: 1 / 2;
        grid-column: 2 / -1;

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        

        &-two {
            display: flex;

            & > * {
                padding: 0 1rem;
            }
        }

        &-three {
            display: flex;

            & > * {
                padding: 0 1rem;
            }
        }
    }

    &-2 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        //justify-content: baseline;
        align-items: center;
    }

    &-3 {
        grid-row: 2 / 3;
        grid-column: 2 / 6;
        font-family: $font-1;
        font-size: 2rem;
        width: 100%;
    }

    &-4 {
        grid-row: 2 / -1;
        grid-column: 6 / -1;
    }

    &-5 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    &-6 {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
    }

    &-7 {
        grid-row: 3 / 4;
        grid-column: 4 / 5;
    }

    &-8 {
        grid-row: 3 / 4;
        grid-column: 5 / 6;
    }

    &-fab {
        padding: 2rem;
        align-items: center;
    }

    &-fa {
        color: #5f5c5c;
    }
    
    &-h3 {
        font-size: 1.9rem;
    }

    &-h1 {
        font-family: $font-1;
        font-size: 4.0rem;
        width: 100%;
        line-height: 4.0rem;
        height: max-content;
    }
    
    &-link {
        color: $color-3;
        text-decoration: underline;
        font-size: 1.1rem;
    }

    &-2-3-img {
        padding-top: 4rem;
        height: 110%;
        z-index: 10;
        position: relative;
    }

    &-3-h4 {
        font-size: 2rem;
        font-family: serif;
    }

    &-3-p {
        font-size: 1rem;
        width: 50%;

    }
}