.seven{
    background-image: linear-gradient(rgba($color-1, .9), rgba($color-1, .9)), 
    url(../img/law-library1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 7 / 8;
    grid-column: 1 / 11;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    color: $color-light;
    font-family: $font-2;
    padding: 9rem 17rem;
    

    & > * {
      padding: 2rem;
    }
  
  &-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    font-size: 3rem;
    font-family: $font-1;
    line-height: 4.7rem;
  }

  &-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
    
    &-p {
      border: 1px solid rgba($color-light, .2);
      padding: .4rem;
      margin: .8rem;
      height: 40%;
      width: 40%;
      align-items: center;
      font-size: 1.4rem;
    }
    
    &-pp {
      border: 1px solid rgba($color-light, .2);
      padding: .4rem;
      background-color: $color-3;
      margin: .8rem;
      height: 40%;
      width: 40%;
      align-items: center;
      font-size: 1.4rem;
    }
  }

  &-3 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 40%, 1fr;
    border: 1px solid rgba($color-light, .2);
   
  }

  &-4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 40%, 1fr;
    border: 1px solid rgba($color-light, .2);
    
  }

  &-5 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 40%, 1fr;
    border: 1px solid rgba($color-light, .2);
  }

  &-6 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 40%, 1fr;
    border: 1px solid rgba($color-light, .2);
  }

  &-div-1{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin: 3rem;
  }

  &-div-2{
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    position: relative;
    margin: 3rem 3rem 3rem 0;
    &::before {
      content: "\201D";
      position: absolute;
      top: -9rem;
      right: -2rem;
      font-size: 10rem;
      color: #f43930;
    }
  }

  &-img-1 {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: 1px solid rgba($color-light, .2);
  }

  &-lorem {
    font-size: 1rem;
    padding-bottom: 1rem;

  }

  &-div--3 {
    color: rgba($color: $color-light, $alpha: .5);
    font-size: 1.1rem;
  }

  
 &-h3 {
   font-family: $font-1;
   font-size: 5rem;
    line-height: 4.7rem;
 } 

 &-h4 {
   font-family: $font-1;
  
 }
}

.pman {
  font-size: 1rem;
  color: rgba($color: $color-light, $alpha: .5);
  line-height: 2.7rem;
}

