.three {
    grid-row: 3 / 4;
    grid-column: 1 / 11;
    background-image: linear-gradient(rgba($color-1, .9), rgba($color-1, .9)), 
    url(../img/law-library1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    
    
    


    &-div-1{
        grid-row: 1 / 2;
        grid-column: 2 / 5;
    }

    &-div-2{
        grid-row: 1 / 2;
        grid-column: 6 / 10;
        border: 1px solid rgba($color: $color-light, $alpha: .1);
        border-left: 0;
       color: $color-light;
       text-align: left;
    }

    &-div-3{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        font-size: 2rem;
    }
    &-div-4{
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        font-size: 2rem;
    }

    &-div-5{
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        font-size: 2rem;
    }

    &-div-6{
        grid-row: 3 / 4;
        grid-column: 3 / 4;
        font-size: 2rem;
    }

    &-div-7{
        grid-row: 3 / 4;
        grid-column: 4 / 5;
        font-size: 2rem;
    }

    &-div-8{
        grid-row: 3 / 4;
        grid-column: 5 / 6;
        font-size: 2rem;
    }

    &-h2 {
        font-family: $font-1;
        width: 100%;
        line-height: 4rem;
        font-size: 4rem;
    }

    &-p{
        font-size: .9rem;
        color: rgba($color: $color-light, $alpha: .5);
    }

    &-p1{
        font-size: .9rem;
        padding: 1rem 2rem;
        color: rgba($color: $color-light, $alpha: .5);
    }

    &-h4 {
        font-size: 1.2rem;
        line-height: 3rem;
    }
    
    &-li {
        list-style-type: none;
    }

    &-h3 {
        font-size: 1rem;
    }
}
 